{%extends 'base.html'%}
{%block content%}
{%load staticfiles%}
<span style="font-family: 'Black Han Sans', sans-serif; font-size: 3.5em;">#전체 강연</span>
<a href="{%url 'createLec'%}" style="float:right;" class="mt-4">
    <button class="btn btn-dark my-2 my-sm-0" type="submit">강연 등록</button>
</a>
<div class="row mt-3">
    {%for post in posts%}
    <div class="col-6 col-md-4 mb-3">
        <div class="card" >
            {%if post.pic == 'default'%}
            <img src="{%static '구글주주.jpg'%}" class="card-img-top">
            {%else%}
            <img src="{{post.pic.url}}" class="card-img-top">
            {%endif%}
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5></a>
            </div>
            <a href="{%url 'read' post.id%}" class="stretched-link"></a>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}