{%extends 'base.html'%}
{%block content%}
{%load staticfiles%}
<html> 
    <head>
        <title>회사소개</title>
    </head>
    <body>
        <h1>
        강연의 민족은 생각했습니다.

        꼭 유명인사나 저명하신 분들만 강단에 설 수 있는 것일까?
        평범한 사람들의 평범하지 않은 이야기를 듣고 싶다!

        그래서 고민했습니다.

        "자신의 이야기를 나누고 싶어하는 누구에게나 강단에 설 기회를 주자!"

        그래서 탄생했습니다. "강연의 민족"

        강민의 핵심 가치는 '누구나 연사가 될수 있다.' 입니다.

        사람들에게 들려주고 싶은 자신만의 이야기가 있으신가요? --> 강연
        많은 사람들과 내가 가진 재능을 나눠보고 싶으신가요? --> 클래스
        그렇다면, 지금 바로 강연의 민족에서 그 꿈을 이뤄보세요.

        "Everyone can be a speaker as everyone is special."
        </h1>
    </body>
</html>
{%endblock%}