<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>강연의 민족</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');

        .footer {
            padding: 50px;
            text-align: center;
            background-color: darkgray;
        }

        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        #main {
            flex: 1;
        }

        .foot {
            flex-shrink: 0;
        }
    </style>
</head>
<center>
    <span style="font-family: 'Black Han Sans', sans-serif; font-size: 5.5rem;">
        <a href="{%url 'index'%}" style="color:rgb(38, 38, 39); text-decoration:none;">강연의 민족</a>
    </span>
</center>
<body>
    <div class="container" id="main">
        <nav class="navbar navbar-expand-lg navbar-light bg-white" style="font-size:1.2em;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown mr-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            강연의 민족
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{%url 'intro'%}">회사소개</a>
                            <a class="dropdown-item" href="{%url 'notion'%}">공지사항</a>
                            <a class="dropdown-item" href="{%url 'QnA'%}">Q & A</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            강연
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{%url 'wholeLecture'%}">전체 강연</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            클래스
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{%url 'wholeClass'%}">전체 클래스</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown mr-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            클라우드 펀딩
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{%url 'wholeFund'%}">클라우드 펀딩</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form id="logout" action="{%url 'logout'%}" method="POST">
                            {%csrf_token%}
                            <a class="nav-link" href="#" onclick="document.getElementById('logout').submit()">로그아웃</a>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'signup'%}">회웝가입</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{%url 'login'%}">로그인</a>
                    </li>
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="강연 클래스 검색" aria-label="Search">
                    <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        {%block content%}
        {%endblock%}
    </div>
    
</body>

<footer class="footer">
    (주)강연의민족 | 멋쟁이사자처럼7기 | 영남대학교 | 지니의요술램프팀 | 문의 : nhw_s2@naver.com<br>
    사업잝등록번호 : 012-34-56789 | 통신팝매업 신고번호 : 제 2019-경산대띙-8100호 | 고객센터 : 070-1234-5678<br>
</footer>

</html>