{%extends 'base.html'%}
{%block content%}
{%load staticfiles%}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 100%; margin: 0 auto">
    <div class="carousel-inner" >
        <div class="carousel-item active">
            <img src="{%static '밴쯔배너.jpg'%}" class="w-100" style="height: 300px;">
        </div>
        <div class="carousel-item">
            <img src="{%static '하상욱배너.jpg'%}" class="w-100" style="height: 300px;">
        </div>
        <div class="carousel-item">
            <img src="{%static '설민석배너.jpg'%}" class="w-100" style="height: 300px;">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<p></p>
<h2 style="font-family: 'Black Han Sans', sans-serif; font-size: 50px;">#인기 강연</h2>
<div class="container" align="center">
    <div class="row">
        <div class="col-sm">
            <img src="{%static '디바제시카.jpg'%}" class="w-300" style="height: 400px;">
            <p><a href="https://www.youtube.com/watch?v=bggT-t0trPI">디바제시카와 유튜버띘기</a></p>
        </div>
        <div class="col-sm">
            <img src="{%static '킴닥스.jpg'%}" class="w-300" style="height: 400px;">
            <p><a href="https://www.youtube.com/watch?v=bggT-t0trPI">킴닥스의 뷰티강연</a></p>
        </div>
        <div class="col-sm">
            <img src="{%static '사나고.jpg'%}" class="w-300" style="height: 400px;">
            <p><a href="https://www.youtube.com/watch?v=bggT-t0trPI">3D펜 장인 사나고</a></p>
        </div>
        <div class="col-sm">
            <img src="{%static '붝토희.jpg'%}" class="w-300" style="height: 400px;">
            <p><a href="https://www.youtube.com/watch?v=bggT-t0trPI">저잝 김만권의 붝토희</a></p>
        </div>
        <div class="col-sm">
            <img src="{%static '여잝둘이.jpg'%}" class="w-300" style="height: 400px;">
            <p><a href="https://www.youtube.com/watch?v=bggT-t0trPI">저잝 황선우x김하나의 붝콘서트</a></p>
        </div>
        <div class="col-sm">
            <img src="{%static '인문학특강.jpg'%}" class="w-300" style="height: 400px;">
            <p><a href="https://www.youtube.com/watch?v=bggT-t0trPI">최시한의 인문학 특강</a></p>
        </div>
    </div>
</div>
<p></p>
<h2 style="font-family: 'Black Han Sans', sans-serif; font-size: 50px;">#인기 흴래스</h2>
<div class="container" align="center">
    <div class="row">
        <div class="col-sm">
            <img src="{%static '구글주주.jpg'%}" class="w-300" style="height: 400px;">
            <p><a href="https://www.youtube.com/watch?v=bggT-t0trPI">주식투잝&재태희 흴래스</a></p>
        </div>
        <div class="col-sm">
            <img src="{%static '송길옝강연.jpg'%}" class="w-300" style="height: 400px;">
            <p><a href="https://www.youtube.com/watch?v=bggT-t0trPI">다음 부사장 송길옝의 사이언스</a></p>
        </div>
        <div class="col-sm">
            <img src="{%static '생물다양성.jpg'%}" class="w-300" style="height: 400px;">
            <p><a href="https://www.youtube.com/watch?v=bggT-t0trPI">생물다양성과 생태계서비스</a></p>
        </div>
        <div class="col-sm">
            <img src="{%static '인간관계.jpg'%}" class="w-300" style="height: 400px;">
            <p><a href="https://www.youtube.com/watch?v=bggT-t0trPI">인간관계 이해하기</a></p>
        </div>
        <div class="col-sm">
            <img src="{%static '팝소리.jpg'%}" class="w-300" style="height: 400px;">
            <p><a href="https://www.youtube.com/watch?v=bggT-t0trPI">박인혜의 팝소리 한마당</a></p>
        </div>
        <div class="col-sm">
            <img src="{%static '최현우마술사.jpg'%}" class="w-300" style="height: 400px;">
            <p><a href="https://www.youtube.com/watch?v=bggT-t0trPI">최현우의 매짝 흴래스</a></p>
        </div>
    </div>
</div>
{%endblock%}